.reveal h1 {
  --r-heading-line-height: 1;
}

.reveal .fragment.current-appear:not(.current-fragment) {
  display: none;
}

.reveal .fragment.current-appear.current-fragment {
  transform: translate(0, 0);

  @starting-style {
    transform: translate(0, 40px);
  }
}

blockquote > cite {
  display: block;
  text-align: right;
}

blockquote > cite::before {
  content: "\2014\00A0"; /* &mdash;&nbsp; */
}

:not(pre) > code.hljs {
  background: none;
}

:not(pre) > code.hljs * {
  font-style: normal;
}
