:root {
  --r-heading-font: "Francois One", sans-serif;
  --r-heading-font-weight: 400;
  --r-heading-text-transform: none;
  --r-heading-letter-spacing: -1px;
}

.reveal h1 {
  --r-heading-line-height: 1;
}

.reveal .fragment.current-appear:not(.current-fragment) {
  display: none;
}

.reveal .fragment.current-appear.current-fragment {
  transform: translate(0, 0);

  @starting-style {
    transform: translate(0, 40px);
  }
}

blockquote > cite {
  display: block;
  text-align: right;
}

blockquote > cite::before {
  content: "\2014\00A0"; /* &mdash;&nbsp; */
}

:not(pre) > code.hljs {
  background: none;
}

:not(pre) > code.hljs * {
  font-style: normal;
}

.heading-with-photo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

h1.heading-with-photo {
  font-size: calc(0.8 * var(--r-heading1-size));
}

.heading-with-photo > img {
  width: 15%;
  border: 5px solid var(--r-heading-color);
  border-radius: 100%;
  box-shadow: 0 0.1em 0.2em rgb(0 0 0 / 75%);
}
